extends layout

block body
  div(ng-controller='AppCtrl')
    ul.menu
      li
        a(href='current') Current
      li
        a(href='history') History

    div(ng-view)

    div
      | Angular seed app: v
      span(app-version)

  script(src='js/lib/angular/angular.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')

