!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Angular Express Seed App
    link(rel='stylesheet', href='/css/app.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script(src='http://code.highcharts.com/highcharts.js')
    script(src='http://code.highcharts.com/highcharts-more.js')
    script(src='js/pubnub-3.4.min.js')
    script(src='js/moment.min.js')
    script(src='js/gauge.min.js')

  body
    block body